<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<div th:replace="/fragments/header :: header"></div>

<body>
<div th:replace="/fragments/navigation_bar :: navigation_bar"></div>

<div class="container">
    <div class="row">
        <h3>List of all Users</h3>
    </div>

    <div class="table-responsive">
        <table class="table" id="user-table">
            <thead>
            <tr>
                <th>Id</th>
                <th>Email</th>
                <th>First name</th>
                <th>Last name</th>
                <th>Roles</th>
                <th>Action</th>
            </tr>
            </thead>
            <tbody>

            <tr th:each="user: ${users}">
                <td th:text="${user.id}" style="vertical-align:middle" class="text-center"></td>
                <td th:text="${user.email}" style="vertical-align:middle" class="text-center"></td>
                <td th:text="${user.firstName}" style="vertical-align:middle" class="text-center"></td>
                <td th:text="${user.lastName}" style="vertical-align:middle" class="text-center"></td>
                <td th:if="${user.roles != null}">
                        <ul th:each="role: ${user.roles}" th:text="${role.name}" style="vertical-align:middle"
                            align="justify"></ul>
                </td>
                <td style="vertical-align:middle" class="text-center">
                    <div class="btn-group" role="group">
                        <a class="btn btn-danger btn-lg" th:href="${'/user/delete/' + user.id}">delete</a>
                        <a class="btn btn-success btn-lg" th:href="${'/user/edit/' + user.id}">edit</a>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>

    </div>
</div>
<div th:replace="/fragments/footer :: footer"></div>

</body>
</html>