<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<div th:replace="/fragments/header :: header"></div>

<body>
<div th:replace="/fragments/navigation_bar :: navigation_bar"></div>

<div class="container" xmlns:th="http://www.thymeleaf.org" th:fragment="showUpdateMarker">
    <!-- Add marker form -->
    <h3>Update marker</h3>
    <div th:if="${success}">
        <div class="alert alert-success">
            You've successfully updated marker!
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <form action="#" th:action="@{/updateMarker}" th:object="${marker}" method="POST">

                <!-- Name input body -->
                <div class="form-group">
                    <label for="name">Name</label>
                    <input th:autofocus="autofocus" type="text" id="name" th:field="*{name}" class="form-control"
                           value=""
                           th:required="required"></input>
                </div>
                <!-- Address input body -->
                <div class="form-group" th:object="${marker.location}">
                    <label for="city">City</label>
                    <input type="text" th:field="*{city}" id='city' class="form-control" value=""
                           th:required="required"></input>
                    <label for="postalCode">Postal code</label>
                    <input type="text" th:field="*{postalCode}" id='postalCode' class="form-control" value=""></input>
                    <label for="streetAddress">Street address</label>
                    <input type="text" th:field="*{stateProvince}" id='streetAddress' class="form-control"
                           value=""></input>
                    <label for="stateProvince">State</label>
                    <input type="text" th:field="*{streetAddress}" id='stateProvince' class="form-control"
                           value=""></input>
                </div>
                <!-- Latitude input body -->
                <div class="form-group" th:object="${marker.latLon}">
                    <label for="lat">Latitutde</label>
                    <input type="text" name="lat" th:field="*{lat}" id='lat' class="form-control" value=""></input>
                    <!-- Longitude body -->
                    <label for="lon">Longitude</label>
                    <input type="text" name="lon" id='lon' th:field="*{lon}" class="form-control" value=""></input>
                </div>
                <!-- Type input body -->


                <div class="form-group" th:object="${markerType}">
                    <label for="type">Type</label>
                    <select class="form-control" id="type" name="type">
                        <option th:each="state : ${markerType}"
                                th:text="${state.name}"

                        ></option>
                    </select>
                </div>
                <!-- Description body -->
                <div class="form-group">
                    <label class="col-md-3 control-label" for="description">Description</label>
                    <textarea class="form-control" id="description" th:field="*{description}" name="description"
                              placeholder=""></textarea>
                    <input type="hidden" name="id" class="form-control" value=""></input>
                </div>


                <div class="row">
                    <div class="col-md-6">
                        <!-- file input body -->
                        <div class="form-group">
                            <label for="file">File input</label>
                            <input type="file" id="file" name="marker_icon"
                                   onchange="document.getElementById('marker_icon').src = window.URL.createObjectURL(this.files[0])"></input>
                            <p class="help-block">Upload marker icon</p>

                        </div>
                    </div>
                    <div class="col-md-6" th:each="img: *{images}">
                        <!-- image preview -->
                        <img id="marker_icon" th:src="@{'data:image/jpeg;base64,'+${img.encodedString}}"
                             class="img-responsive" alt="Responsive image"></img>
                    </div>
                </div>

                <!-- Submit button -->
                <button type="submit" name="update_marker" class="btn btn-default">Update marker</button>
            </form>
        </div>
        <!-- Map body -->
        <div class="col-md-6">
            <h5 class="text-center" for="message">Click on a map to get location</h5>
            <div th:replace="@{'/map/google_map'}"></div>
        </div>
    </div>
</div>
<div th:replace="/fragments/footer :: footer"></div>

</body>
</html>