<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	xmlns:sd="http://www.thymeleaf.org/spring-data"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<div th:replace="/fragments/header :: header"></div>

<body>
	<div th:replace="/fragments/navigation_bar :: navigation_bar"></div>

	<div class="container">
			<h6>
			Show<span sd:page-size-selector="javascript"></span>entries
			</h6>
		
		<table class="table table-striped table-hover" id="user-table">
		 <caption>List of users</caption>
			<thead>
				<tr>
					<th>Id</th>
					<th>Email</th>
					<th>First name</th>
					<th>Last name</th>
					<th>Status</th>
					<th>Roles</th>
					<th>Action</th>
				</tr>
			</thead>
			<tbody>

				<tr th:each="user: ${users}">
					<td th:text="${user.id}" style="vertical-align: middle"
						class="text-center"></td>
					<td th:text="${user.email}" style="vertical-align: middle"
						class="text-center"></td>
					<td th:text="${user.firstName}" style="vertical-align: middle"
						class="text-center"></td>
					<td th:text="${user.lastName}" style="vertical-align: middle"
						class="text-center"></td>
						<td th:text="${user.statusDescription}" style="vertical-align: middle"
						class="text-center"></td>
					<td th:if="${user.roles != null}">
						<ul th:each="role: ${user.roles}" th:text="${role.name}"
							style="vertical-align: middle" align="justify"></ul>
					</td>
					<td><a class="btn btn-danger" th:if="${user.statusDescription == 'Active'}"
						th:href="@{/admin/user/disable/{id} (id=${user.id})}">Disable
					</a>
					<a class="btn btn-primary" th:if="${user.statusDescription == 'Inactive'}"
						th:href="@{/admin/user/enable/{id} (id=${user.id})}">Enable
					</a>
					</td>
					<td><a class="btn btn-primary"
						th:href="@{/admin/user/edit/{id} (id=${user.id})}"> <i
							class="fa fa-pencil fa-fw"></i> Edit
					</a></td>
				</tr>
			</tbody>
		</table>



		<div class="row">
			<nav class="pull-right">
				<ul class="pagination" sd:pagination-split="7" sd:pagination="full">
					<!-- 	 Pagination created by SpringDataDialect, this content is just for mockup      -->
					<li class="disabled"><a href="#" aria-label="Previous"><span
							aria-hidden="true">&laquo;</span></a></li>
					<li class="active"><a href="#">1 <span class="sr-only">(current)</span></a></li>
				</ul>
			</nav>
		</div>
	</div>

	
	<div th:replace="/fragments/footer :: footer"></div>

</body>
</html>