<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<div th:replace="/fragments/header :: header"></div>

<body>
	<div th:replace="/fragments/navigation_bar :: navigation_bar"></div>

	<div sec:authorize="hasAuthority('CHANGE_PASSWORD_PRIVILEGE')">

		<form class="form-signin" action="#"
			th:action="@{/registration/savePassword}" th:object="${password}"
			method="POST">
	   <p class="alert alert-danger" role="alert"
           th:if="${#fields.hasGlobalErrors()}"
           th:each="error : ${#fields.errors('global')}"
           th:text="${error}">Validation error</p>
			<div class="panel panel-default">
				<div class="panel-body">
					<div class="text-center">

						<!--    password input field        -->
						<div class="form-group ">
							<label for="password">Password</label> <input name="password"
								type="password" th:field="*{password}" id="password"
								th:required="required" class="form-control"
								placeholder="password"></input>
							<p class="alert alert-danger" role="alert"
								th:each="error : ${#fields.errors('password')}"
								th:text="${error}">Validation error</p>
						</div>
						<!--    confirm password input field        -->
						<div class="form-group ">
							<label for="confirmPassword">Confirm password</label> <input
								name="confirm_password" type="password"
								th:field="*{confirmPassword}" id="confirmPassword"
								th:required="required" class="form-control"
								placeholder="Confirm password"></input>
							<p class="alert alert-danger" role="alert"
								th:each="error : ${#fields.errors('confirmPassword')}"
								th:text="${error}">Validation error</p>

							<div class="form-group">
								<button type="submit" id="btn-submit" class="btn btn-success">Submit</button>
							</div>
						</div>
					</div>
				</div>
			</div>
		</form>
	</div>


	<div th:replace="/fragments/footer :: footer"></div>

</body>
</html>