<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<div th:replace="/fragments/header :: header"></div>

<body>
	<div th:replace="/fragments/navigation_bar :: navigation_bar"></div>

	<div th:if="${message}">
		<div class="alert alert-success">
			<p th:text="${message}">Mail</p>
		</div>
	</div>
	<div th:if="${error!=null}">
		<div class="alert alert-danger" role="alert">
			<p th:text="${error}">Error email exists</p>
		</div>
	</div>
	<div class="container">
		<hr>
		<div class="row justify-content-md-center">

			<h4>Map Options</h4>
		</div>
		<div class="row">
			<div class="col-md-6 offset-md-3">

				<!-- Map body -->
				<div class="form-group">
					<h5 class="text-center">Click on a map to set center location</h5>
					<div th:replace="@{'map/google_map'}"></div>
				</div>

			</div>
		</div>
		<form action="#" th:action="@{/user/profile/mapOptions}" th:object="${userProfile}" method="POST">
		<div class="row justify-content-md-center">
			<input type="hidden" th:field="*{id}"/>
			<input type="hidden" th:field="*{userId}"/>
			<input type="hidden" th:field="*{mapOptions.id}"/>
			<input type="hidden" th:field="*{mapOptions.latLon.id}"/>
			<div class="col-md-2">
				<label for="type">Zoom level</label>
				<!-- Zoom input body -->
				<div class="form-group">
					<input type="text" name="zoom"
						th:field="*{mapOptions.zoom}" id='zoom'
						class="form-control" placeholder="Zoom" min="0" max="22"></input>
				</div>
			</div>

			<div class="col-md-2">
				<label for="type">Latitude</label>
				<!-- Latitude input body -->
				<div class="form-group">
					<input type="text" name="lat"
						th:field="*{mapOptions.latLon.lat}" id='lat'
						class="form-control" placeholder="Latitude"></input>
				</div>
			</div>
			<div class="col-md-2">
				<label for="type">Longitude</label>
				<div class="form-group">
					<!-- Longitude body -->
					<input type="text" name="lon" id='lon'
						th:field="*{mapOptions.latLon.lon}" class="form-control"
						placeholder="Longitude" value=""></input>
				</div>
			</div>
			<div class="col-md-2">
				<label for="type">reset time in ms</label>
				<div class="form-group">
					<!-- Map Reset time  -->
					<input type="text" name="resetTime" id='resetTime'
						th:field="*{mapOptions.resetTime}"
						class="form-control" placeholder="Map reset time" value=""></input>
				</div>
			</div>
		</div>
		<!-- Submit button -->
			<div class="form-group">
				<button type="submit" name="create_marker"
					class="btn btn-success btn-lg btn-block">Submit</button>
			</div>
		</form>
		<hr>
	</div>

	<div th:replace="/fragments/footer :: footer"></div>
</body>
</html>