<!-- Main google map view -->
<div xmlns:th="http://www.thymeleaf.org" th:fragment="fullscreen_map">
    <div class="fullscreen" id="map2"></div>
    <div class="panel-wraper" id="panel-wraper">
        <div class="over_map_right" id="right-panel">
            <p>Total Distance: <span id="total"></span></p>
            <p style="color:blue; text-align:center;" id="location_error"></p>

            <div class="infobox-wrapper" th:replace="@{'fragments/info-box-template1'}"></div>

        </div>
    </div>
    <!--script th:src="@{js/resources.js}"></script> -->
    <!--script th:src="@{js/info-box-wrapper.js}"></script> -->
    <script th:src="@{js/util.js}"></script>
    <script th:src="@{js/user-location.js}"></script>
    <script th:src="@{js/directions.js}"></script>
    <!-- our main google map javascript -->
    <script th:src="@{js/main_google_maps.js}"></script>

    <script async="async" defer="defer"
            th:src="@{https://maps.googleapis.com/maps/api/js(key=${'AIzaSyBfDqh0dyOJOWkJ_fmFM179dZ9zVbCspL4'},callback=initMap)}"></script>
    <!-- Info box library -->
    <!--script th:src="@{js/infobox.js}"></script> -->

</div>
