<div xmlns:th="http://www.thymeleaf.org" th:fragment="images">
    <div class="col-md-4" style="text-align:center">
        <img id="img1" th:src="@{/image/no-image.png}"
             class="img-fluid img-thumbnail" alt="Responsive image">
        </img>
    </div>
    <div class="col-md-4" style="text-align:center">
        <img id="img2" th:src="@{/image/no-image.png}"
             class="img-fluid img-thumbnail" alt="Responsive image">
        </img>
    </div>
    <div class="col-md-4" style="text-align:center">
        <img id="img3" th:src="@{/image/no-image.png}"
             class="img-fluid img-thumbnail" alt="Responsive image">
        </img>
    </div>
</div>