<div id="infobox" xmlns:th="http://www.thymeleaf.org" th:fragment="info-box-template1">
    <div align="middle">
        <img id="img-info-box" width="100%" height="50%" alt="Card image cap" th:src="@{/image/img1.jpg}"></img>
        <h5 class="title" id="name">Card title</h5>
    </div>

    <div class="container-fluid" id="content">

        <p class="description" id="description"></p>

        <p class="address" id="address"></p>

        <p class="createBy" id="createdByUser">Created by:
        </p>
    </div>
    <input type="hidden" id="lat" value=""></input>
    <input type="hidden" id="lng" value=""></input>
    <button href="#" class="btn btn-primary  btn-block" onclick="getDirections();" >Go
        somewhere</button>
</div>