<div id="infobox" xmlns:th="http://www.thymeleaf.org" th:fragment="info-box-template1"  class="card border-info" >
  <div class="card-header bg-transparent border-success">
    <img class="card-img-top" id="img-info-box" alt="Card image cap"></img>
  </div>

  <div class="card-body">
    <h5 class="card-title" id="name">Card title</h5>
    <p class="card-text" id="description"></p>
    <address id="address"></address>
  </div>
  <div class="card-footer bg-transparent border-success">
    <p class="card-text" id="createdByUser"><small class="text-muted">Last updated 3 mins ago</small></p>
  </div>
    <a href="#" class="btn btn-primary" onclick="getDirections();" width="auto" height="auto" float="bottom" >Go somewhere</a>
  <input type="hidden" id="lat" value=""></input>
  <input type="hidden" id="lng" value=""></input>
</div>