<nav class="navbar navbar-expand-lg fixed-top navbar-dark bg-dark" th:fragment="navigation_bar" xmlns:th="http://www.thymeleaf.org">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span></button>
    <div  class="collapse navbar-collapse">
            <a class="navbar-brand"  th:href="@{'/fullscreen_map'}">Spring google maps example</a>
            <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                <li  class="nav-item"><a class="nav-link" th:href="@{'/index'}">Home</a></li>
                <li  class="nav-item"><a class="nav-link" th:href="@{'/about'}">About</a></li>
                <li  class="nav-item"><a class="nav-link" th:href="@{'/contact'}">Contact</a></li>
                <li class="nav-item dropdown" th:if="${#authorization?.expression('isAuthenticated()')}">
                    <a class="nav-link dropdown-toggle" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Administration <span class="caret"></span></a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown" >
                        <a class="dropdown-item" th:href="@{'/markers'}">List of markers</a>
                        <a sec:authorize="hasRole('ROLE_ADMIN')" class="dropdown-item" th:href="@{'/admin/show_users'}">List of users</a>
                        <a class="dropdown-item" th:href="@{'/marker'}">Create marker</a>
                    </div>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right" >
                <li  class="nav-item" th:if="${#authorization?.expression('!isAuthenticated()')}">
                    <a href="/signin" class="nav-link" th:href="@{/registerUser}">
                        <span class="glyphicon glyphicon-log-in" aria-hidden="true"></span>&nbsp; Register
                    </a>
                </li>
                <li  class="nav-item"  th:if="${#authorization?.expression('!isAuthenticated()')}">
                    <a href="/login" class="nav-link" th:href="@{/login}">
                        <span class="glyphicon glyphicon-log-in" aria-hidden="true"></span>&nbsp;Login in
                    </a>
                </li>
			<li class="nav-item dropdown"
				th:if="${#authorization?.expression('isAuthenticated()')}"><a
				class="nav-link dropdown-toggle" id="navbarDropdownMenuLink-4"
				data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" >
					<i class="fa fa-user" ></i> <span sec:authentication="name">Username</span>
			</a>
				<div class="dropdown-menu dropdown-menu-right dropdown-info"
					aria-labelledby="navbarDropdownMenuLink-4">
					<a class="dropdown-item" href="#">My account</a> <a
						class="dropdown-item" th:href="@{/logout}">Log out</a>
				</div></li>

		</ul>
        </div><!--/.nav-collapse -->

</nav>