<div class="container" xmlns:th="http://www.thymeleaf.org" th:fragment="registerUser">

    <div class="span10 offset1">
        <div class="row">
            <h3 class="text-center">Register user</h3>
        </div>

        <form class="form-signin" action="#" th:action="@{/processRegistration}" th:object="${user}" method="POST">

            <!--    username input field        -->
            <div class="control-group">
                <label class="control-label">Name</label>
                <div class="controls">
                    <input name="username" type="text" th:required="required" th:field="*{userName}" id="username"
                           class="form-control"
                           placeholder="Name"></input>
                </div>
            </div>
            <!--    email address input field        -->
            <div class="control-group ">
                <label class="control-label">Email Address</label>
                <div class="controls">
                    <input name="email" th:required="required" id="email" th:field="*{email}" type="text"
                           class="form-control"
                           placeholder="Email Address"></input>
                </div>
            </div>
            <!--    password input field        -->
            <div class="control-group">
                <label class="control-label">Password</label>
                <div class="controls">
                    <input name="password" type="password" th:field="*{password}" th:required="required"
                           class="form-control" placeholder="password"></input>
                </div>
            </div>
            <!--    confrim password input field        -->
            <div class="control-group">
                <label class="control-label">Confirm password</label>
                <div class="controls">
                    <input name="confirm_password" type="password" th:field="*{newPassword}" th:required="required"
                           class="form-control"
                           placeholder="confirm password"></input>
                </div>
            </div>

            <div class="form-actions">

                <button type="submit" id="btn-submit" class="btn btn-success" name="add_user">Create</button>
                <a class="btn" th:href="@{/}">Back</a>
            </div>
        </form>
    </div>
    <div class="container text-center">

        <p class="alert alert-warning"></p>

        <p class="alert alert-info"></p>

    </div>
</div> <!-- /container -->

