<div class="container" xmlns:th="http://www.thymeleaf.org" th:fragment="registerUser">
    <div class="row">
        <h4 class="text-center">Register user</h4>
    </div>
    <div th:if="${success}">
        <div class="alert alert-success">
            You've successfully registered to our awesome app!
        </div>
    </div>
    <div th:if="${error!=null}">
        <div class="alert alert-danger" role="alert">
          <p th:text="${error}">Error email exists</p>
        </div>
    </div>

    <form class="form-signing" action="#" th:action="@{/processRegistration}" th:object="${user}" method="POST">

        <p class="alert alert-danger" role="alert"
           th:if="${#fields.hasGlobalErrors()}"
           th:each="error : ${#fields.errors('global')}"
           th:text="${error}">Validation error</p>
        <!--    firstName input field        -->
        <div class="form-group">
            <label for="firstName">First name</label>
            <input name="firstName" type="text" th:required="required" th:field="*{firstName}" id="firstName"
                   class="form-control"
                   placeholder="First name"></input>
            <p  class="alert alert-danger" role="alert"
               th:each="error: ${#fields.errors('firstName')}"
               th:text="${error}">Validation error</p>
        </div>
        <!--    lastName input field        -->
        <div class="form-group">
            <label for="lastName">Last name</label>
            <input name="lastName" type="text" th:required="required" th:field="*{lastName}" id="lastName"
                   class="form-control"
                   placeholder="Last name"></input>
            <p  class="alert alert-danger" role="alert"
               th:each="error : ${#fields.errors('lastName')}"
               th:text="${error}">Validation error</p>
        </div>
        <!--    email address input field        -->
        <div class="form-group">
            <label for="email">Email Address</label>
            <input name="email" th:required="required" id="email" th:field="*{email}" type="text"
                   class="form-control"
                   placeholder="Email Address"></input>
            <p  class="alert alert-danger" role="alert"
               th:each="error : ${#fields.errors('email')}"
               th:text="${error}">Validation error</p>
        </div>
        <!--   confirm email address input field        -->
        <div class="form-group ">
            <label for="confirmEmail">Confirm email address</label>
            <input name="email" th:required="required" id="confirmEmail" th:field="*{confirmEmail}" type="text"
                   class="form-control"
                   placeholder="Confirm email address"></input>
            <p  class="alert alert-danger" role="alert"
               th:each="error : ${#fields.errors('confirmEmail')}"
               th:text="${error}">Validation error</p>
        </div>
        <!--    password input field        -->
        <div class="form-group ">
            <label for="password">Password</label>
            <input name="password" type="password" th:field="*{password}" id="password" th:required="required"
                   class="form-control" placeholder="password"></input>
            <p  class="alert alert-danger" role="alert"
               th:each="error : ${#fields.errors('password')}"
               th:text="${error}">Validation error</p>
        </div>
        <!--    confirm password input field        -->
        <div class="form-group ">
            <label for="confirmPassword">Confirm password</label>
            <input name="confirm_password" type="password" th:field="*{confirmPassword}" id="confirmPassword"
                   th:required="required"
                   class="form-control"
                   placeholder="Confirm password"></input>
            <p  class="alert alert-danger" role="alert"
               th:each="error : ${#fields.errors('confirmPassword')}"
               th:text="${error}">Validation error</p>
        </div>
        <div class="form-group">
            <button type="submit" id="btn-submit" class="btn btn-success">Register</button>

        </div>
    </form>
    <span>Already registered? <a href="/" th:href="@{/login}">Login here</a></span>

</div> <!-- /container -->

