<div class="container" xmlns:th="http://www.thymeleaf.org" th:fragment="showMarkers">
    <div class="row">
        <h3>List of all Markers</h3>
    </div>

    <div class="row" style="text-align:center">
        <table class="table table-responsive table-bordered" id="marker-table">
            <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>State</th>
                <th>City</th>
                <th>Street address</th>
                <th>Postal code</th>
                <th>Latitude</th>
                <th>Longitude</th>
                <th>Type</th>
                <th>Description</th>
                <th>Created by</th>
                <th>Action</th>
            </tr>
            </thead>

            <tbody>

            <tr th:each="marker: ${markers}">
                <td th:text="${marker.id}" style="vertical-align:middle" class="text-center"></td>
                <td th:text="${marker.name}" style="vertical-align:middle" class="text-center"></td>
                <td th:text="${marker.location.streetAddress}" style="vertical-align:middle" class="text-center"></td>
                <td th:text="${marker.location.city}" style="vertical-align:middle" class="text-center"></td>
                <td th:text="${marker.location.stateProvince}" style="vertical-align:middle" align="justify"></td>
                <td th:text="${marker.location.postalCode}" style="vertical-align:middle" class="text-center"></td>
                <td th:text="${marker.latLon.lat}" style="vertical-align:middle" class="text-center"></td>
                <td th:text="${marker.latLon.lon}" style="vertical-align:middle" align="justify"></td>
                <td th:text="${marker.markerType}" style="vertical-align:middle" class="text-center"></td>
                <td th:text="${marker.description}" style="vertical-align:middle" class="text-center"></td>
                <td th:text="${marker.user.firstName}" style="vertical-align:middle" class="text-center"></td>
                <td style="vertical-align:middle" class="text-center">
                    <a class="btn btn-danger btn-lg" th:href="${'/deleteMarker/' + marker.id}">delete</a>
                    <a class="btn btn-success btn-lg" th:href="${'/editMarker/' + marker.id}">edit</a>
                </td>
            </tr>

            </tbody>
        </table>
        <div class="row">
            <div class="col-md-3 ">
                <p>
                    <a class="btn btn-success btn-block" th:href="@{'/createMarker'}">Create new marker</a>
                </p>
            </div>

        </div>


    </div>
</div>
