<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<div th:replace="/fragments/header :: header"></div>

<body>
<div th:replace="/fragments/navigation_bar :: navigation_bar"></div>

<div class="container"  th:object="${marker}">

    <div class="span10 offset1">
        <div class="row">
            <h3>Delete a Marker</h3>
            <div th:if="${error!=null}">
                <div class="alert alert-danger" role="alert">
                    <p th:text="${error}">Error !!!</p>
                </div>
            </div>
        </div>
        <div class="alert alert-error" th:text="${'Are you sure to delete ' + marker.name + ' ?'}">

        </div>
        <div class="form-actions">
            <a class="btn btn-danger" th:href="${'/deleteAction/' + id}">Yes</a>
            <a class="btn " th:href="@{'/markers'}" >No</a>
        </div>


    </div>

</div> <!-- /container -->
<div th:replace="/fragments/footer :: footer"></div>

</body>
</html>