<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<div th:replace="/fragments/header :: header"></div>

<body>
<div th:replace="/fragments/navigation_bar :: navigation_bar"></div>

<div class="container">
    <div class="row">
        <h3>List of all Markers</h3>
    </div>

    <div class="table-responsive">
        <table class="table" id="marker-table">
            <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>State</th>
                <th>City</th>
                <th>Street address</th>
                <th>Postal code</th>
                <th>Latitude</th>
                <th>Longitude</th>
                <th>Type</th>
                <th>Description</th>
                <th>Created by</th>
                <th>Action</th>
            </tr>
            </thead>

            <tbody>

            <tr th:each="marker: ${markers}">
                <td th:text="${marker.id}" style="vertical-align:middle" class="text-center"></td>
                <td th:text="${marker.markerName}" style="vertical-align:middle" class="text-center"></td>
                <td th:text="${marker.address}" style="vertical-align:middle" class="text-center"></td>
                <td th:text="${marker.city}" style="vertical-align:middle" class="text-center"></td>
                <td th:text="${marker.state}" style="vertical-align:middle" align="justify"></td>
                <td th:text="${marker.postalCode}" style="vertical-align:middle" class="text-center"></td>
                <td th:text="${marker.lat}" style="vertical-align:middle" class="text-center"></td>
                <td th:text="${marker.lon}" style="vertical-align:middle" align="justify"></td>
                <td th:text="${marker.markerType}" style="vertical-align:middle" class="text-center"></td>
                <td th:text="${marker.description}" style="vertical-align:middle" class="text-center"></td>
                <td th:text="${marker.userFirstName}" style="vertical-align:middle" class="text-center"></td>
                <td style="vertical-align:middle" class="text-center">
                    <div class="btn-group" role="group">
                        <a class="btn btn-danger btn-lg" th:href="${'marker/delete/' + marker.id}">delete</a>
                        <a class="btn btn-success btn-lg" th:href="${'marker/edit/' + marker.id}">edit</a>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <a class="btn btn-success" th:href="@{'/marker'}">Create new marker</a>
</div>
<div th:replace="/fragments/footer :: footer"></div>

</body>
</html>
