<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<div th:replace="/fragments/header :: header"></div>

<body>
<div th:replace="/fragments/navigation_bar :: navigation_bar"></div>


<div>
    <div id="map"></div>
    <script th:src="@{/js/google_maps.js}"></script>
    <script async="async" defer="defer"
            th:src="@{https://maps.googleapis.com/maps/api/js(key=${'AIzaSyBfDqh0dyOJOWkJ_fmFM179dZ9zVbCspL4'},callback=initMap)}">
    </script>
</div>


<div th:replace="/fragments/footer :: footer"></div>

</body>
</html>
