<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<div th:replace="/fragments/header :: header"></div>

<body>
<div th:replace="/fragments/navigation_bar :: navigation_bar"></div>

<div class="container-fluid" lang="en" xmlns:th="http://www.thymeleaf.org"
     th:fragment="about">

    <div class="container">

        <h5>
            UTE d.o.o (Uljanik Tesu Elektronika d.o.o) je društvo s ograničenom odgovornošću za projektiranje,
            proizvodnju i prodaju električnih i elektroničkih uređaja.
        </h5>
        <h5>
            Od 1975. god postoji na svjetskom tržištu kao proizvođač elektroničke opreme u sklopu holdinga "Uljanik" u
            Tvornici električnih strojeva i uređaja ( TESU).
        </h5>
        <h5>
            Krajem 1997. god. nastavlja svoj proizvodni ciklus, ali sada kao samostalno poduzeće u privatnom
            vlasništvu.UTE d.o.o (Uljanik Tesu Elektronika d.o.o) je društvo s ograničenom odgovornošću za
            projektiranje, proizvodnju i prodaju električnih i elektroničkih uređaja.
        </h5>

    </div>
</div>


<div th:replace="/fragments/footer :: footer"></div>

</body>
</html>
