<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<div th:replace="/fragments/header :: header"></div>

<body>
<div th:replace="/fragments/navigation_bar :: navigation_bar"></div>

<div class="container" xmlns:th="http://www.thymeleaf.org" th:fragment="contact">
    <div class="row justify-content-center">
        <div class="col-md-4">
            <div class="LI-profile-badge" data-version="v1" data-size="large" data-locale="en_US" data-type="vertical"
                 data-theme="dark" data-vanity="dragutin-horvat">
                <a class="LI-simple-link" href='https://ie.linkedin.com/in/dragutin-horvat?trk=profile-badge'>Dragutin
                    H.</a>
            </div>
        </div>
        <div class="col-md-4">
            <a class="twitter-timeline" data-width="300" data-height="500" data-dnt="true" data-theme="light"
               href="https://twitter.com/dragutin_horvat?ref_src=twsrc%5Etfw">Tweets by dragutin_horvat</a>
            <script async="async" src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
        </div>
    </div>
</div>
<div class="text-center">

    <address>
        <strong>Contact info</strong><br>
        <strong>Spring demo web app </strong></br>
        <br>
        </br>
        <abbr title="Phone">T:</abbr>
        <abbr title="Faks">F:</abbr>
    </address>

    <address>
        <a href="mailto:#">simple-webapp@domain.com</a>
    </address>

</div>

<div th:replace="/fragments/footer :: footer"></div>

</body>
</html>